<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>504 Annual Renewal</title>
    </head>

    <body>
    <h1>504 Annual Renewal</h1>

    <h1>Search for a Student by ID</h1>
    <form method="POST" action="/annual_renewal">
        <label for="student_id">Student ID:</label>
        <input type="text" id="student_id" name="student_id">
        <button type="submit">Search</button>
    </form>

    {% if student_data %}
        {% if student_data == "No student found with that ID." %}
            <p>{{ student_data }}</p>
        {% else %}
            <h2>Student Details:</h2>
            <p>Name: {{ student_data.first_name }} {{ student_data.last_name}}</p>
            <p>LA ID: {{ student_data.laid }}</p>
            <p>Date of Birth: {{ student_data.dob }}</p>
            <p>Year of Graduation: {{ student_data.student_grad_year }}</p>
            <h2>Parent Details:</h2>
            <p>Parent Name: {{ student_data.parent_first_name }} {{ student_data.parent_last_name}}</p>
            <p>Parent Email: {{ student_data.parent_email }}</p>
            <h2>504 Plan Details</h2>
            <p>Date of Most Recent 504 Evaluation: {{ student_data.most_recent_504_evaluation
 }}</p>
             <p>Name and Title of Qualified Professional: {{ student_data.name_and_title_of_qual_prof
 }}</p>
            <p>Diagnosis: {{ student_data.diagnosis }}</p>
            <p>Accommodations: {{ student_data.accommodations }}</p>

            <a href="{{ url_for('main.edit_student_data') }}">Edit Student Data</a>



 
                 <form id="annualRenewalForm">
    <h2>Courses Where the Plan will be Implemented (Update for Annual Renewal)</h2>
            <input type = "checkbox" name = "course_elig" value="eng_elig">English</option>
            <br>
            <input type = "checkbox" name = "course_elig" value="math_elig">Math</option>
            <br>
            <input type = "checkbox" name = "course_elig" value="sci_elig">Science</option>
            <br>
            <input type = "checkbox" name = "course_elig" value="socstud_elig">Social Studies</option>
            <br>
            <input type = "checkbox" name = "course_elig" value="wl_elig">World Language</option>
            <br>
            Other: <input type="text" name="other_course_elig" id = "other_course_elig" placeholder = "Other">
            
    <h2>Teachers (Update for Annual Renewal)</h2>
        
    <fieldset>
        <legend>Select Student's Teachers</legend>
        {% for teacher in teachers %}
            <label>
                <input type="checkbox" name="teachers" value="{{ teacher.teacher_email }}">
                {{ teacher.full_name }}
            </label><br>
        {% endfor %}
    </fieldset>

    <h2>Meeting attendees (Update for Annual Renewal)</h2>
        Parent:
        <br><br>
        Student:
        <br><br>
        Administrator
        <label for="admin_meeting_attendee">Choose an option:</label>
        <select id="admin_meeting_attendee" name="admin_meeting_attendee">
            <option value="option1">Dr. McManus-Thomas</option>
            <option value="option2">Amanda Morehouse</option>
            <option value="option3">Chanelle Smith</option>
        </select>
        <br><br>
        Academic Counselor
        <label for="couns_meeting_attendee">Choose an option:</label>
        <select id="couns_meeting_attendee" name="couns_meeting_attendee">
            <option value="option1">Allison Bruno</option>
            <option value="option2">Margaret Foley</option>
            <option value="option3">Kate Massey</option>
            <option value="option4">Tami Wilson</option>
        </select>
        <br><br>
        Teacher 1
            <select id="teacherDropdown">
                <option>Select the First Teacher</option>
                <!-- Options will be populated here -->

            </select>
        <br><br>
        Teacher 2
            <select id="teacherDropdown">
                <option>Select the Second Teacher</option>
                <!-- Options will be populated here -->
            </select>
        <br><br>
        Other attendees            
            <input type = "checkbox" name = "opt_meeting_attendee" value="opt_meeting_attendee">Parent</option>
            <br><br>
            <input type = "checkbox" name = "opt_meeting_attendee" value="opt_meeting_attendee">Student</option>
            <br><br>
            <input type = "checkbox" name = "opt_meeting_attendee" value="opt_meeting_attendee">Nurse</option>
            <br><br>
            <input type = "checkbox" name = "opt_meeting_attendee" value="opt_meeting_attendee">Testing Coordinator</option>
            <br><br>
            Other: <input type="text" name="opt_meeting_attendee" id = "opt_meeting_attendee" placeholder = "Other">
            <br><br>
        
        Date of Next Scheduled Meeting:  <input type="date" name="next_meeting_date" id = "next_meeting_date" required placeholder = "Upcoming Scheduled Meeting Date">
        <br><br>
        Time of Next Scheduled Meeting:  <input type="time" name="next_meeting_time" id = "next_meeting_time" required placeholder = "Upcoming Scheduled Meeitng Time">
        <br><br>
    </form>
        {% endif %}
    {% endif %}
    </body>

    <script>
        var laid = "{{ student_data.laid }}";
        var first_name = "{{ student_data.student_first_name}}";
        var last_name = "{{ student_data.student_last_name}}";
        var dob = "{{ student_data.student_dob}}";
        var student_email = "{{ student_data.student_email}}";
        var student_grad_year = "{{ student_data.student_grad_year}}";
        var parent_first_name = "{{ student_data.parent_first_name}}";
        var parent_last_name = "{{ student_data.parent_last_name}}";
        var parent_email = "{{ student_data.parent_email}}";
        var most_recent_504_evaluation = "{{ student_data.student_most_recent_eval}}";
        var entry_to_504_program = "{{ student_data.student_entry_to_504_program}}";
        var upcoming_meeting_date = "{{ student_data.next_meeting_date}}";
        var upcoming_meeting_time = "{{ student_data.next_meeting_time}}";
        var date_of_most_recent_documentation_from_qual_prof = "{{ student_data.date_of_most_recent_dianosis_paperwork}}";
        var name_and_title_of_qual_prof = "{{ student_data.name_and_title_of_qual_prof}}";
        var diagnosis = "{{ student_data.diagnosis}}";
        var accommodations = "{{ student_data.accommodations}}";
        
        
        document.getElementById('annualRenewalForm').addEventListener('submit', function(e){


            const studentData = {
                laid : laid,
                first_name : first_name,
                last_name : last_name,
                dob : dob,
                student_email : student_email,
                student_grad_year : student_grad_year,
                parent_first_name : parent_first_name,
                parent_last_name : parent_first_name,
                parent_email : parent_email,
                most_recent_504_evaluation : most_recent_504_evaluation,
                entry_to_504_program : entry_to_504_program,
                upcoming_meeting_date : upcoming_meeting_date,
                upcoming_meeting_time : upcoming_meeting_time,
                date_of_most_recent_documentation_from_qual_prof : date_of_most_recent_documentation_from_qual_prof,
                name_and_title_of_qual_prof : name_and_title_of_qual_prof,
                diagnosis : diagnosis,
                accommodations : accommodations,
                course : courses,
                teachers : teachers,
                upcoming_meeting_attendees : meetingAttendees,
                status504 : status504
            };
            fetch('/save_student',{
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(studentData)
            })
            .then(response => response.json())
            .then(data=>{
                alert(data.message)
            })
            .catch(error=>console.error('Error', error));
        });
    </script>


</html>